<div class="header">
  <div class="container">
    <div class="content text-light ">
        <div class="wrapper">
            <svg>
                <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                    {{firstName}} {{lastName}} ZAKI
                </text>
            </svg>
        </div>
        <!-- <p class="mb-5">Full Stack Web Developer (NodeJs , Angular)</p> -->
         <ul class="social-icons ms-1">
            <li>
              <a href="https://www.facebook.com/profile.php?id=100002692110793" target="_blank">
                <i class="fab fa-facebook-f icon"></i></a>
            </li>
            <li>
              <a href="https://github.com/aliaa11"target="_blank"><i class="fab fa-github icon"></i></a>
            </li>
            <li>
              <a href="
              https://www.linkedin.com/in/aliaa-hesham?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"target="_blank"><i class="fab fa-linkedin-in icon"></i></a></li>
            <li>
              <a href="mailto:aliaaalihesh@gmail.com"target="_blank"><i class="fab fa-google-plus-g icon"></i></a></li>
          </ul>
        <a class=" mt-5 button">
          <a href="assets/AliaaHesham_CV.pdf" download="AliaaHesham_CV">
            <button class="btn">
              <div class="wrapperr">
                <p class="text"> Contact Me</p>
            
                <div class="flower flower1">
                  <div class="petal one"></div>
                  <div class="petal two"></div>
                  <div class="petal three"></div>
                  <div class="petal four"></div>
                </div>
                <div class="flower flower2">
                  <div class="petal one"></div>
                  <div class="petal two"></div>
                  <div class="petal three"></div>
                  <div class="petal four"></div>
                </div>
                <div class="flower flower3">
                  <div class="petal one"></div>
                  <div class="petal two"></div>
                  <div class="petal three"></div>
                  <div class="petal four"></div>
                </div>
                <div class="flower flower4">
                  <div class="petal one"></div>
                  <div class="petal two"></div>
                  <div class="petal three"></div>
                  <div class="petal four"></div>
                </div>
                <div class="flower flower5">
                  <div class="petal one"></div>
                  <div class="petal two"></div>
                  <div class="petal three"></div>
                  <div class="petal four"></div>
                </div>
                <div class="flower flower6">
                  <div class="petal one"></div>
                  <div class="petal two"></div>
                  <div class="petal three"></div>
                  <div class="petal four"></div>
                </div>
              </div>
            </button>
          </a>
      </a>
      </div>
    </div>
    <!-- <div class="image d-none d-md-block" >
        <img src="assets/1.png" alt="">
    </div> -->
</div>