 <div class="container">
    <section class="skills-section mt-5 text-light" id="skills">
   
        <h2 class="section-title">Skills</h2>
        <p class="section-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy tempor invidunt ut labore et dolore magna aliquyam erat.
        </p>

        <div class="row">
            <div class="col-md-4 focus-section">
                <h3>MY FOCUS</h3>
                <ul>
                    <li>Front End</li>
                    <li>Responsive Design</li>
                    <li>Back End</li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="skill">
                    <p>HTML</p>
                    <div class="progress">
                        <div class="progress-bar" style="width: 90%;"></div>
                    </div>
                </div>

                <div class="skill">
                    <p>CSS</p>
                    <div class="progress">
                        <div class="progress-bar" style="width: 85%;"></div>
                    </div>
                </div>

                <div class="skill">
                    <p>JavaScript</p>
                    <div class="progress">
                        <div class="progress-bar" style="width: 75%;"></div>
                    </div>
                </div>

                <div class="skill">
                    <p>Angular</p>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%;"></div>
                    </div>
                </div>

                <div class="skill">
                    <p>NodeJs</p>
                    <div class="progress">
                        <div class="progress-bar" style="width: 80%;"></div>
                    </div>
                </div>

                <div class="skill">
                    <p>Bootstrap 5</p>
                    <div class="progress">
                        <div class="progress-bar" style="width: 80%;"></div>
                    </div>
                </div>
            </div>
        </div>
</section>
</div>
